<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="5 minutes">
	
	<property name="date" value="%date{dd/MM/YYYY HH:mm:ss.SSS,UTC}" />
	
	<appender name="APPLICATION_SIRI_LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

		<file>/var/log/stif/orchestration/metier/administration-relais-siri.log</file>
		<prudent>true</prudent>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/var/log/stif/orchestration/metier/administration-relais-siri.%d{yyyyMMdd}.%i.log</fileNamePattern>
			<maxHistory>2</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches maxFilesSize -->
				<maxFileSize>20MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>${date} [%level] %logger{36} - %msg%n</pattern>
		</layout>
	</appender>

	<appender name="APPLICATION_ERROR_LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

		<file>/var/log/stif/orchestration/metier/administration-relais-error.log</file>
		<prudent>true</prudent>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/var/log/stif/orchestration/metier/administration-relais-error.%d{yyyyMMdd}.%i.log</fileNamePattern>
			<maxHistory>2</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches maxFilesSize -->
				<maxFileSize>20MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>${date} [%level] %logger{36} - %msg%n</pattern>
		</layout>
	</appender>

	<appender name="SYSTEM_LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

		<file>/var/log/stif/orchestration/technique/administration-system-technique.log</file>
		<prudent>true</prudent>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/var/log/stif/orchestration/technique/administration-system-technique.%d{yyyyMMdd}.%i.log</fileNamePattern>
			<maxHistory>2</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches maxFilesSize -->
				<maxFileSize>20MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>${date} [%level] %logger{36} - %msg%n</pattern>
		</layout>
	</appender>

	<appender name="SYSTEM_ROOT_LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

		<file>/var/log/stif/orchestration/root/administration-root.log</file>
		<prudent>true</prudent>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/var/log/stif/orchestration/root/administration-root.%d{yyyyMMdd}.%i.log</fileNamePattern>
			<maxHistory>2</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches maxFilesSize -->
				<maxFileSize>20MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>${date} [%level] %logger{36} - %msg%n</pattern>
		</layout>
	</appender>

	<appender name="SYSTEM_DEBUG_LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

		<file>/var/log/stif/orchestration/debug/administration-system-debug.log</file>
		<prudent>true</prudent>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/var/log/stif/orchestration/debug/administration-system-debug.%d{yyyyMMdd}.%i.log</fileNamePattern>
			<maxHistory>2</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches maxFilesSize -->
				<maxFileSize>20MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>


		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>${date} [%level] %logger{36} - %msg%n</pattern>
		</layout>
	</appender>

	<appender name="SYSTEM_ACTION_LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

		<file>/var/log/stif/orchestration/debug/administration-system-action.log</file>
		<prudent>true</prudent>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/var/log/stif/orchestration/debug/administration-system-action.%d{yyyyMMdd}.%i.log</fileNamePattern>
			<maxHistory>2</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches maxFilesSize -->
				<maxFileSize>20MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>${date} [%level] %logger{36} - %msg%n</pattern>
		</layout>
	</appender>

	<appender name="SYSTEM_WORKFLOW_LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

		<file>/var/log/stif/orchestration/debug/administration-system-workflow.log</file>
		<prudent>true</prudent>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/var/log/stif/orchestration/debug/administration-system-workflow.%d{yyyyMMdd}.%i.log</fileNamePattern>
			<maxHistory>2</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches maxFilesSize -->
				<maxFileSize>20MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>${date} [%level] %logger{36} - %msg%n</pattern>
		</layout>
	</appender>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>${date} [%level] %class - %msg%n</pattern>
		</layout>
	</appender>

	<logger name="com.thalesgroup.stif.log.metier.administration.siri" additivity="false">
		<level value="INFO" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="com.thalesgroup.stif.log.metier.administration.error" additivity="false">
		<level value="WARN" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="com.thalesgroup.stif.log.system.error" additivity="false">
		<level value="INFO" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="com.thalesgroup.stif.log.system.debug" additivity="false">
		<level value="INFO" />
		<appender-ref ref="SYSTEM_DEBUG_LOGFILE" />
	</logger>

	<logger name="com.thalesgroup.stif.log.system.workflow" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</logger>


	<logger name="com.thalesgroup.stif.log.metier.com.thalesgroup.stif.commons.traces.logs.FacadeLogs.siri" additivity="false">
		<level value="INFO" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="com.thalesgroup.stif.log.system.performance" additivity="false">
		<level value="INFO" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="com.thalesgroup.stif.log.system.action" additivity="false">
		<level value="${filter.log.level}" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="log4j.category.org.springframework.integration.file" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="log4j.category.com.jcraft.jsch" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<root level="ERROR">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>
