/* GLOBAL */
button.ui-button-icon-only {
	width: 25px;
	height: 25px;
}

tbody.ui-datatable-data td {
	font-size: 14px;
}

.ui-widget-content label {
	font-size: 14px;
}

.ui-panelgrid {
	width: auto;
}

.ui-panelgrid .ui-widget {
	font-size: 14px;
}

.ui-panelgrid tr {
	background-image: none;
	background-color: transparent;
}

.ui-panelgrid td {
	border-color: transparent;
	border-style: solid;
	padding: 1px 4px;
	font-size: 14px;
}

.ui-panelgrid td.libelle {
	text-align: right;
	vertical-align: middle;
}

.ui-panelgrid td.libelleitalic {
	text-align: right;
	vertical-align: middle;
	font-style: italic;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	background-image: none;
	background-color: #F6F7F8;
	border: 1px solid #D6D8DB;
}

.ui-selectmanycheckbox label {
	margin-top: 0px;
}

div.ui-chkbox span.ui-icon-check {
	height: 17px;
	width: 17px;
}

/* CALENDAR */
button.ui-datepicker-trigger {
	vertical-align: top;
}

div.ui-datepicker {
	font-size: 14px;
}

/* TABLE */
tbody.ui-datatable-data td.centrer {
	text-align: center;
}

/* TOOLBAR */
div#header div#toolbar {
	height: 40px;
	background-size: 100% 100%;
	overflow: hidden;
	display: block;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
}

div#header div#toolbar table.ui-panelgrid {
	width: auto;
}

div#header div#toolbar table.header tr {
	border-color: transparent;
}

/* TITRE */
div#header div#titre {
	height: 80px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: right;
	width: 100%;
	display: inline-block;
	color: #8A8E91;
}

div#header div#titre span.version {
	font-size: 15px;
	color: #B6BEC4;
}

div#header div#titre table {
	width: 100%;
}

div#header div#titre table td {
	text-align: center;
}

div#header div#titre table td h1 {
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

/* STATUS LOADER */
div.loader {
	background-image: none;
	background-color: transparent;
	border: 0px none transparent;
	box-shadow: 0 0px 0px transparent;
}

/* MENU */
.ui-menu .ui-menuitem-text {
	font-size: 15px;
}

.ui-menu .ui-icon {
	position: relative;
	top: 0px;
}

form#formMenu div.ui-menubar  {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

form#formMenu div.ui-menubar a.ui-menuitem-link  {
	padding: .4em .3em;
}

form#formMenu div.ui-menubar li.ui-menuitem-selected a.ui-menuitem-link {
	color:#ffffff;
	text-decoration:none;
	background-color:#0088cc;
	background-color:#0081c2;
	background-position:0px;
	background-image:-moz-linear-gradient(top, #0088cc, #0077b3);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
	background-image:-webkit-linear-gradient(top, #0088cc, #0077b3);
	background-image:-o-linear-gradient(top, #0088cc, #0077b3);
	background-image:linear-gradient(to bottom, #0088cc, #0077b3);
	background-repeat:repeat-x;
	filter:progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

/* HEADER */
div#header {
	clear: right;
	width: 100%;
	margin-bottom: 5px;
}

div#header {
	position: relative;
}

div#header ul {
	margin: 0 auto;
	text-align: center;
}

div#header ul li {
	display: inline;
}

div#header ul li a {
	display: table-cell;
	display: inline-block;
	text-decoration: none;
	color: #007DBD;
}

div#header ul li a span {
	color: #575762;
}

/* FOOTER */
ul#footer {
	text-align: center;
}

ul#footer li {
	display: inline;
}

ul#footer li.bold {
	color: #B6BEC4;
	font-weight: bold;
}

ul#footer li a {
	display: table-cell;
	display: inline-block;
	text-decoration: none;
	color: #007DBD;
}

ul#footer li a span {
	color: #575762;
}

ul#footer li span.version {
	color: #B6BEC4;
}

