
div#dossier_gestion_couleur_anomalie {
	margin-bottom:20px;
	margin-top:30px;
}

.red{
   background-color:#e67870;
   background-image:none;
}

.yellow{
   background-color:#f3f1a9;
   background-image:none;
}

.green{
   background-color:#99f98d;
   background-image:none;
}

.orange{
   background-color:#fbd38f;
   background-image:none;
}