
div#dossier_gestion_couleur_anomalie {
	margin-bottom: 20px;
	margin-top: 30px;
}

form#formDossier tr.ui-widget-content td.color {
	color: #5c5c5c;
}

form#formDossier td.red {
   background-color: #ffb0ab;
   background-image: none;
}

form#formDossier td.yellow {
   background-color: #fffdab;
   background-image: none;
}

form#formDossier td.green {
   background-color: #cfffc9;
   background-image: none;
}

form#formDossier td.orange {
   background-color: #ffdb9e;
   background-image: none;
}