div#calendrier_gestion_toolbar {
	text-align: center;
	margin-bottom: 1em;
}

div#calendrier_gestion_toolbar td.fc-event-container a.rouge {
	border: 1px solid #ad3a3a;
	background-color: #ad3a3a;
}

div#calendrier_gestion_toolbar td.fc-event-container a.orange {
	border: 1px solid #ef9610;
	background-color: #ef9610;
}

div#calendrier_gestion_toolbar td.fc-event-container a.jaune {
	border: 1px solid #c2c600;
	background-color: #c2c600;
}

div#calendrier_gestion_toolbar td.fc-event-container a.vert {
	border: 1px solid #18bd00;
	background-color: #18bd00;
}

.fc-button-group {
	display: inline-flex;
}

.ui-fluid .ui-button {
	width: auto;
}
