<?xml version="1.0" encoding="UTF-8"?>
<menu xmlns="http://www.octo.com/menu/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<menuItem id="1" key="menu.dossiers" access="ROLE_ADMIN,ROLE_USER" url="views/dossiers/overview.xhtml" />
	
	<menuItem id="2" key="menu.dashboards" access="ROLE_ADMIN,ROLE_USER" url="views/dashboards/overview.xhtml" />
	
	<menuItem id="3" key="menu.evenements" access="ROLE_ADMIN,ROLE_USER" url="views/evenements/overview.xhtml" />
	
<!-- 	<subMenu id="4" key="menu.template" access="ROLE_ADMIN" url="views/application/templates/accueilTemplates.faces" > -->
<!-- 		<menuItem id="40" key="menu.template.creation" access="ROLE_ADMIN" url="views/application/templates/creerTemplate.faces" /> -->
<!-- 	</subMenu> -->
</menu>
